body {
	font-family: helvetica, arial, sans-serif;
}

h1 {
	color: #3a241d;
	text-align: center;
}

.container {
    width: 15%;
    height: 100%;
    position:absolute;
    top:0px;
    background-color: #eee;
    padding: 10px;
}

#left-container{
    left: 0px;
}

#right-container{
    right: 0px;
}

.plant-holder{
    position: relative;
    height: 13%;
    left: -10px;
}

.plant{
    position: absolute;
    max-width: 150%;
    max-height: 150%;
    z-index: 2;
}